<section class="mt-12">
  <h1 class="mb-8 text-2xl font-bold tracking-tight text-gray-900 sm:text-6xl">Pokémon</h1>

  <!-- search bar -->
  <div class="mb-8 w-full">
    <form action="<%= root_path %>" method="get">
      <!-- search bar -->
      <div class="w-full flex items-center gap-4">
        <input type="text" name="keyword" placeholder="Search Pokémon by name..."
               class="block w-full p-2 text-gray-900 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          />
        <button type="submit"
                class="inline-flex items-center px-4 py-2 text-white bg-blue-600 border border-transparent rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
          Search
        </button>
      </div>
      <!-- condition bar -->
      <div class="flex justify-between items-center border-b border-gray-200">
        <div><%= @pokemons.size %> pokémon found</div>
        <div>
          <div class="w-full py-4 flex items-center justify-start">
            <!-- Ability filter -->
            <div class="pr-6 flex items-center justify-center gap-4 border-r border-gray-200">
              <label for="ability_id" class="block text-sm font-medium text-gray-700">Ability</label>
              <select name="ability_id" id="ability_id" class="block w-full p-2 border border-gray-300 rounded-md">
                <option value="">All</option>
                <% @abilities.each do |ability| %>
                  <option value="<%= ability.id %>" <%= 'selected' if params[:ability_id].to_i == ability.id %>><%= ability.name %></option>
                <% end %>
              </select>
            </div>
            <!-- Item filter -->
            <div class="ml-6 pr-6 flex items-center justify-center gap-4 border-r border-gray-200">
              <label for="item_id" class="block text-sm font-medium text-gray-700">Item</label>
              <select name="item_id" id="item_id" class="block w-full p-2 border border-gray-300 rounded-md">
                <option value="">All</option>
                <% @items.each do |item| %>
                  <option value="<%= item.id %>" <%= 'selected' if params[:item_id].to_i == item.id %>><%= item.name %></option>
                <% end %>
              </select>
            </div>
            <!-- Move filter -->
            <div class="ml-6 flex items-center justify-center gap-4">
              <label for="move_id" class="block text-sm font-medium text-gray-700">Move</label>
              <select name="move_id" id="move_id" class="block w-full p-2 border border-gray-300 rounded-md">
                <option value="">All</option>
                <% @moves.each do |move| %>
                  <option value="<%= move.id %>" <%= 'selected' if params[:move_id].to_i == move.id %>><%= move.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <% if @pokemons.any? %>
    <!-- table head -->
    <div class="mt-4 w-full grid grid-cols-9 font-semibold border-b border-gray-300 py-2">
      <div>ID</div>
      <div>Name</div>
      <div>Base Experience</div>
      <div>Height</div>
      <div>Weight</div>
      <div>Default State</div>
      <div>Order</div>
      <div>Primary Type</div>
      <div>Secondary Type</div>
    </div>
    <!-- table content -->
    <ul class="grid gap-4 mt-4">
      <% @pokemons.each do |pokemon| %>
        <li class="w-full grid grid-cols-9 items-center border-b border-gray-200 py-2">
          <div><%= pokemon.id %></div>
          <div><%= link_to pokemon.name, pokemon_path(pokemon), class: "text-blue-500 hover:underline" %></div>
          <div><%= pokemon.base_experience %></div>
          <div><%= pokemon.height %></div>
          <div><%= pokemon.weight %></div>
          <div><%= pokemon.is_default ? "Yes" : "No" %></div>
          <div><%= pokemon.order_num %></div>
          <div><%= pokemon.type1 %></div>
          <div><%= pokemon.type2.present? ? pokemon.type2 : "N/A" %></div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No pokémon found.</p>
  <% end %>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const filters = document.querySelectorAll('#ability_id, #item_id, #move_id');

    filters.forEach(filter => {
      filter.addEventListener('change', function () {
        this.form.submit();
      });
    });
  });
</script>
