<section class="mt-12 w-full">
  <h1 class="mb-8 text-2xl font-bold tracking-tight text-gray-900 sm:text-6xl">Moves</h1>
  <!-- abilities list -->
  <% if @moves.any? %>
    <!-- table head -->
    <div class="mt-4 w-full grid grid-cols-5 font-semibold border-b border-gray-300 py-2">
      <div>ID</div>
      <div>Name</div>
      <div>PP</div>
      <div>Priority</div>
      <div>Move Type</div>
    </div>
    <!-- table content -->
    <div class="grid gap-4 mt-4">
      <% @moves.each do |move| %>
        <div class="w-full grid grid-cols-5 items-center border-b border-gray-200 py-2">
          <div><%= move.id %></div>
          <div><%= link_to move.name, move_path(move), class: "text-blue-500 hover:underline" %></div>
          <div><%= move.pp %></div>
          <div><%= move.priority %></div>
          <div><%= move.move_type %></div>
        </div>
      <% end %>
    </div>
    <!-- pagination -->
    <div class="mt-12 mb-24">
      <%= render 'kaminari/paginator', collection: @moves %>
    </div>
  <% else %>
    <p>No moves found.</p>
  <% end %>
</section>
