<section class="mt-12 w-full">
  <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-6xl"><%= @move.name %></h1>
  <% if @move.present? %>
    <!-- Ability Details -->
    <div class="mt-12">
      <p><strong>ID:</strong> <%= @move.id %></p>
      <p><strong>Name:</strong> <%= @move.name %></p>
      <p><strong>PP:</strong> <%= @move.pp %></p>
      <p><strong>Priority:</strong> <%= @move.priority %></p>
      <p><strong>Move Type:</strong> <%= @move.move_type %></p>
    </div>

    <!-- Pokémon with this Ability -->
    <div class="mt-12">
      <h2 class="text-xl font-semibold text-gray-800">Pokémon who can make this move:</h2>

      <% if @move.pokemons.any? %>
        <%= render "shared/pokemon_list", pokemons: @move.pokemons %>
      <% else %>
        <p class="text-gray-600 mt-4">No Pokémon can make this move.</p>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-600">Move not found.</p>
  <% end %>
</section>
