<section class="mt-12">
  <h1 class="mb-8 text-2xl font-bold tracking-tight text-gray-900 sm:text-6xl">Items</h1>
  <!-- abilities list -->
  <% if @items.any? %>
    <!-- table head -->
    <div class="mb-4 w-full grid grid-cols-4 font-semibold border-b border-gray-300 py-2">
      <div>ID</div>
      <div>Name</div>
      <div>Cost</div>
      <div>Fling Power</div>
    </div>
    <!-- table content -->
    <div class="grid gap-4">
      <% @items.each do |item| %>
        <div class="w-full grid grid-cols-4 items-center border-b border-gray-200 py-2">
          <div><%= item.id %></div>
          <div><%= link_to item.name, item_path(item), class: "text-blue-500 hover:underline" %></div>
          <div><%= item.cost %></div>
          <div><%= item.fling_power %></div>
        </div>
      <% end %>
    </div>
    <!-- pagination -->
    <div class="mt-12 mb-24">
      <%= render 'kaminari/paginator', collection: @items %>
    </div>
  <% else %>
    <p>No items found.</p>
  <% end %>
</section>