<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Rails Intro Project" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<!--  wrapper  -->
<main class="mx-auto w-full max-w-screen-xl px-2.5 md:px-20">
  <!-- Navbar -->
  <div class="bg-white sticky z-50 top-0 inset-x-0 h-16">
    <header class="w-full relative bg-white">
      <!-- navbar -->
      <div class="flex items-center justify-between border-b border-gray-200">
        <!-- Logo -->
        <div class="flex h-16 items-center text-2xl font-bold">
          <%= link_to "Pokémon WiKi", root_path %>
        </div>
        <!-- category menu -->
        <div class="flex items-center justify-center gap-6">
          <div class="flex h-16 items-center text-lg font-bold">
            <%= link_to "Pokémon", root_path %>
          </div>
          <div class="flex h-16 items-center text-lg font-bold">
            <%= link_to "Abilities", abilities_index_path %>
          </div>
          <div class="flex h-16 items-center text-lg font-bold">
            <%= link_to "Moves", moves_index_path %>
          </div>
          <div class="flex h-16 items-center text-lg font-bold">
            <%= link_to "Items", items_index_path %>
          </div>
          <div class="flex h-16 items-center text-lg font-bold">
            <%= link_to "About", about_path %>
          </div>
        </div>
      </div>
    </header>
  </div>

  <%= yield %>
</main>
</body>
</html>
